:root {
    --normal-font: 1.10rem;
    --big-font: 1.25rem;
    --small-font: 1rem;
}

.material-symbols-outlined {
    margin-right: 1vw;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: min-content repeat(4, auto);
    grid-template-rows: min-content repeat(3, auto);
    width: 95vw;
    height: 95vh;
}

body.blur {
    filter: blur(2px);
    transition: 0.2s;
}

header,
#tableContainer,
.statsContainersWrapper {
    width: max(82vw, 650px);
    margin-left: 0;
}

header {
    height: 8vh;
    align-items: center;
    border-radius: 8px;
    display: flex;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    min-height: 60px;
}

.login {
    margin-left: auto;
    display: flex;
    align-items: center;
}

#exit {
    font-size: var(--big-font);
    border-left-style: solid;
    padding: 1vw;
}

#exit:hover {
    border-bottom-style: none;
}

#userDisplay {
    font-size: var(--big-font);
    padding-right: 1vw;
}

#themeIcon {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    user-select: none;
}

#searchResults {
    margin-left: 2vw;
    font-size: var(--big-font);
    font-weight: bold;
}

#search {
    text-indent: 8px;
    margin-left: 1vw;
    border-radius: 8px;
    width: 40vw;
    max-height: 50px;
    min-height: 35px;
    min-width: 300px;
    font-size: var(--normal-font);
}

nav {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    border-radius: 8px;
    height: 100%;
    width: 16vw;
    font-size: var(--big-font);
    min-height: 700px;
    min-width: 150px;
    margin-right: 10px;
}

#navIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: var(--highlight-color);
    font-size: 3rem;
    font-weight: bolder;
    justify-self: center;
}


.navLinks {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: var(--highlight-color);
}

.navLinks>a {
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 1.5vw;
    padding: 1vw;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

a:hover {
    transition-duration: 100ms;
}

main {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-top: 10px;
    margin-left: 0;
}


#tableContainer {
    height: 88vh;
    min-height: 550px;
    border-radius: 8px;
}

#tableTop {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    display: flex;
}

#tableTop>button {
    width: 12vw;
}

#tableWrapper {
    overflow-y: auto;
    height: 68vh;
    min-height: 400px;
}

table {
    width: 100%;
    font-size: var(--normal-font);
    overflow: hidden;
    border-collapse: collapse;
    table-layout: fixed;
}

#tableHeader {
    cursor: pointer;
    user-select: none;
}

th,
td {
    line-height: max(5.5vh, 40px);
    text-align: center;
}

td {
    border-bottom-style: solid;
}

tr:hover {
    transition-duration: 100ms;
}

.tablePaging {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    justify-self: center;
    margin-top: 2vh;
}

.tablePaging>button {
    background-color: transparent;
    font-size: var(--big-font);
    max-width: 0px;
    min-width: 0px;
}

button {
    font-weight: bolder;
    font-size: var(--small-font);
    border-radius: 8px;
    border-style: none;
    width: 15vw;
    margin: 10px;
    margin-left: auto;
    min-width: 150px;
    cursor: pointer;
    outline: none;
}

input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
}

#clientViewModal {
    width: 60vw;
    height: 80vh;
    border-radius: 8px;
    justify-content: left;
    text-align: left;
    min-width: 450px;
    min-height: 350px;
    overflow: hidden;
}

#clientViewWrapper {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    outline: none;
}

.onionLayer {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-color: var(--font-color);
    display: flex;
}

.modalTop {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#closeButtonView {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: auto;
    font-weight: bolder;
    font-size: 1.5rem;
    cursor: pointer;
}

#closeButtonView:hover {
    color: red;
}

.activeCheck {
    align-self: center;
    margin-left: auto;
    margin-right: 5%;
    font-size: var(--register-font);
}

#statusView {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.clientViewSection {
    display: block;
    margin-bottom: 2vh;
}

.inputTitle {
    font-size: var(--register-font);
}

.clientViewSection>input {
    width: 95%;
    height: 4vh;
    font-size: var(--register-font);
    min-width: 230px;
    min-height: 40px;
    border-style: none;
    border-bottom-style: solid;
    background-color: var(--main-color);
}

.clientViewSection>textarea {
    width: 95%;
    height: 15vh;
    font-size: var(--register-font);
    min-width: 230px;
    min-height: 60px;
    border-style: none;
    border-bottom-style: solid;
    background-color: var(--main-color);
}

#alertModal {
    height: max(25vh, 195px);
    width: max(35vw, 430px);
    border-radius: 8px;
}

#alertWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    font-size: var(--normal-font);
}

#alertTitle {
    align-self: flex-start;
    border-bottom: 1px solid var(--font-color);
    font-size: 1.5rem;
    width: 100%;
    font-weight: bold;
}

#alertText {
    margin-top: auto;
    margin-bottom: auto;
}

#alertButtons {
    display: flex;
    flex-wrap: nowrap;
    margin-top: auto;
    align-self: flex-end;
}

#alertDeleteButton {
    background-color: rgb(255, 39, 39);
}

#cancelDeleteButton {
    background-color: rgba(0, 0, 0, 0.800);
}

#cancelDeleteButton,
#alertDeleteButton {
    height: max(4vh, 22px);
    width: max(8vw, 150px);
}