body{
    align-content: center;
    height: 100vh;
}

.loginBox{
    align-content: center;
    height: 60%;
    width: 60%;
    margin: auto;
    border-style: solid;
    border-color: black;
    border-radius: 1%;
}

.loginBox > * {
    margin: auto;
    display: block;
    height: 10%;
    width: 60%;
    border-style: solid;
    border-color: black;
    border-radius: 1%;
    margin-bottom: 5%;
}

button{
    font-weight: bold;
    color: white;
    background-color: black;
}